$colorValidAndError: #FF5733;

#login-form {
    h3 {
        padding: 15px;
        text-align: center;
    }

    input {
        background-color: white;
        border: 1px solid #cccccc;
        padding: 15px;
        margin-bottom: 15px;
        clear: right;
        width: 100%;
    }

    p {
        float: left;

        span {
            color: $colorValidAndError;
        }
    }

    button {
        height: 44px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        border: none;
        background-color: green;
        clear: both;
        width: 100%;
        color: white;
        padding: 15px;
    }

    #error_login {
        color: $colorValidAndError;
    }

    .group_button {
        padding: 15px;

        .btn_link {
            display: inline-block;
        }

        .btn_register {
            float: right;
            display: inline-block;
        }
    }
}
