#register-form {
    h3 {
        padding: 15px;
        text-align: center;
    }

    input {
        background-color: white;
        border: 1px solid #cccccc;
        padding: 15px;
        margin-bottom: 15px;
        clear: right;
        width: 100%;
    }

    p {
        float: left;

        span {
            color: #FF5733;
        }
    }

    button {
        height: 44px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        border: none;
        background-color: green;
        clear: both;
        width: 100%;
        color: white;
        padding: 15px;
    }

    .p_link {
        padding: 15px;
    }
}
