.container_detail_blog {
    .show_info_blog {
        text-align: center;
        width: 100%;
        height: auto;
        padding: 5px;

        img {
            border-radius: 50%;
            padding: 5px;
        }
    }
}
